<csc-page-title
  titleHeading="New Playlist"
  titleDescription=""
  newItemUrl=""
></csc-page-title>

<div class="card card-box mb-5">
  <div class="card-header">
    <div class="card-header--title font-size-md font-weight-bold py-2"></div>
  </div>
  <div class="card-body">
    <form [formGroup]="newPlaylistForm">
      <div>
        <div class="position-relative row form-group">
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="programDuration"
                >Program Duration</label
              >
              <div class="col-sm-8">
                <div class="input-group">
                  <input
                    formControlName="programDuration"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        getControl('programDuration').touched &&
                        getControl('programDuration').errors,
                      'is-valid':
                        getControl('programDuration').touched &&
                        !getControl('programDuration').errors
                    }"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">mins</span>
                  </div>
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="getControl('programDuration').errors"
                >
                  <div *ngIf="getControl('programDuration').errors.required">
                    Required!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="minClipLength"
                >Minnimum Clip Length</label
              >
              <div class="col-sm-8">
                <div class="input-group">
                  <input
                    formControlName="minClipLength"
                    type="number"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        getControl('minClipLength').touched &&
                        getControl('minClipLength').errors,
                      'is-valid':
                        getControl('minClipLength').touched &&
                        !getControl('minClipLength').errors
                    }"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">mins</span>
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="getControl('minClipLength').errors"
                  >
                    <div *ngIf="getControl('minClipLength').errors.required">
                      Required!
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position-relative row form-group">
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="minClipRes"
                >Minnimum Resolution</label
              >
              <div class="col-sm-8">
                <ng-select
                  [items]="resolutions"
                  [addTag]="false"
                  [multiple]="true"
                  [hideSelected]="true"
                  formControlName="minClipRes"
                >
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="region"
                >Region</label
              >
              <div class="col-sm-8">
                <ng-select
                  [items]="regions"
                  bindLabel="name"
                  bindValue="_id"
                  [addTag]="false"
                  [multiple]="false"
                  [hideSelected]="true"
                  formControlName="region"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="position-relative row form-group">
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="minGeneration"
                >Minnimum Generation</label
              >
              <div class="col-sm-8">
                <input
                  formControlName="minGeneration"
                  [typeahead]="platforms"
                  typeaheadOptionField="generationId"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="maxGeneration"
                >Maximum Generation</label
              >
              <div class="col-sm-8">
                <input
                  formControlName="maxGeneration"
                  [typeahead]="platforms"
                  typeaheadOptionField="generationId"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label font-weight-bold" for="platform"
            >Platform</label
          >
          <div class="col-sm-10">
            <ng-select
              [items]="platforms"
              bindLabel="longName"
              bindValue="_id"
              [addTag]="false"
              [multiple]="false"
              [hideSelected]="true"
              formControlName="platform"
            >
            </ng-select>
          </div>
        </div>
        <div class="position-relative row form-group">
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="minReleaseYear"
                >Minnimum Release Year</label
              >
              <div class="col-sm-8">
                <csc-date-picker
                  formControlName="minReleaseYear"
                  [isYear]="true"
                ></csc-date-picker>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="maxReleaseYear"
                >Maximum Release Year</label
              >
              <div class="col-sm-8">
                <csc-date-picker
                  formControlName="maxReleaseYear"
                  [isYear]="true"
                ></csc-date-picker>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="position-relative row form-group">
          <label
            class="col-sm-2 col-form-label font-weight-bold"
            for="developer"
            >Developers</label
          >
          <div class="col-sm-10">
            <ng-select
              [items]="developers"
              bindLabel="name"
              bindValue="_id"
              [addTag]="false"
              [multiple]="true"
              [hideSelected]="true"
              formControlName="developer"
            >
            </ng-select>
          </div>
        </div>
        <div class="position-relative row form-group">
          <label
            class="col-sm-2 col-form-label font-weight-bold"
            for="developer"
            >Publishers</label
          >
          <div class="col-sm-10">
            <ng-select
              [items]="publishers"
              bindLabel="name"
              bindValue="_id"
              [addTag]="false"
              [multiple]="true"
              [hideSelected]="true"
              formControlName="publisher"
            >
            </ng-select>
          </div>
        </div>
        <div class="position-relative row form-group">
          <label
            class="col-sm-2 col-form-label font-weight-bold"
            for="franchise"
            >Franchise</label
          >
          <div class="col-sm-10">
            <ng-select
              [items]="franchises"
              bindLabel="name"
              bindValue="_id"
              [addTag]="false"
              [multiple]="false"
              [hideSelected]="true"
              formControlName="franchise"
            >
            </ng-select>
          </div>
        </div>
        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label font-weight-bold" for="series"
            >Series</label
          >
          <div class="col-sm-10">
            <ng-select
              [items]="series"
              bindLabel="name"
              bindValue="_id"
              [addTag]="false"
              [multiple]="false"
              [hideSelected]="true"
              formControlName="series"
            >
            </ng-select>
          </div>
        </div>
        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label font-weight-bold" for="game"
            >Game</label
          >
          <div class="col-sm-10">
            <ng-select
              [items]="games"
              bindLabel="title"
              bindValue="_id"
              [addTag]="false"
              [multiple]="false"
              [hideSelected]="true"
              formControlName="game"
            >
            </ng-select>
          </div>
        </div>
        <div class="position-relative row form-group">
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="Category"
                >Include Categories</label
              >
              <div class="col-sm-8">
                <ng-select
                  [items]="categories"
                  bindLabel="name"
                  bindValue="_id"
                  [addTag]="false"
                  [multiple]="true"
                  [hideSelected]="true"
                  formControlName="included_categories"
                >
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="Category"
                >Exclude Categories</label
              >
              <div class="col-sm-8">
                <ng-select
                  [items]="categories"
                  bindLabel="name"
                  bindValue="_id"
                  [addTag]="false"
                  [multiple]="true"
                  [hideSelected]="true"
                  formControlName="excluded_categories"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="position-relative row form-group">
          <div class="col-sm-6">
            <div class="row">
              <label class="col-sm-4 col-form-label font-weight-bold" for="tags"
                >Include Tags</label
              >
              <div class="col-sm-8">
                <ng-select
                  [addTag]="true"
                  [multiple]="true"
                  [hideSelected]="true"
                  formControlName="included_tags"
                  [ngClass]="{
                    'is-invalid':
                      getControl('included_tags').touched &&
                      getControl('included_tags').errors,
                    'is-valid':
                      getControl('included_tags').touched &&
                      !getControl('included_tags').errors
                  }"
                >
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <label class="col-sm-4 col-form-label font-weight-bold" for="tags"
                >Exclude Tags</label
              >
              <div class="col-sm-8">
                <ng-select
                  [addTag]="true"
                  [multiple]="true"
                  [hideSelected]="true"
                  formControlName="excluded_tags"
                  [ngClass]="{
                    'is-invalid':
                      getControl('excluded_tags').touched &&
                      getControl('excluded_tags').errors,
                    'is-valid':
                      getControl('excluded_tags').touched &&
                      !getControl('excluded_tags').errors
                  }"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="position-relative row form-group">
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="playlistCheck"
                >Include Excluded Clips</label
              >
              <div
                class="custom-checkbox custom-control mb-3 custom-control-inline"
                style="margin-left:22px;margin-top: 10px;"
              >
                <input
                  class="custom-control-input"
                  id="exampleCustomInline"
                  type="checkbox"
                  formControlName="excludedClips"
                /><label
                  class="custom-control-label"
                  for="exampleCustomInline"
                ></label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <label
                class="col-sm-4 col-form-label font-weight-bold"
                for="sortOption"
                >Sort Option</label
              >
              <div class="col-sm-8">
                <select
                  class="form-control"
                  id="sort-options"
                  name="sort-options"
                  formControlName="sortOption"
                >
                  <option value="">Select Any</option>
                  <option
                    *ngFor="let sortOption of sortOptions"
                    [value]="sortOption"
                  >
                    {{ sortOption }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-4">
        <button
          class="btn btn-primary text-center"
          (click)="onSubmit()"
          [disabled]="newPlaylistForm.invalid"
        >
          Submit
        </button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

<div class="card card-box mb-5">
  <div class="card-header pr-2">
    <div class="card-header--title">
      <small>Clips</small>
    </div>
    <div class="card-header--actions">
      <button
        class="btn btn-primary text-center"
        (click)="OnGenerateXmlPlaylist()"
        [disabled]="clips.length === 0"
      >
        Export XML
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover text-nowrap table-striped mb-0">
        <thead class="thead-light">
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Category</th>
            <th class="text-center">Game Title</th>
            <th class="text-center">Series</th>
            <th class="text-center">Last Updated</th>
            <th class="text-center">Author</th>
            <th class="text-center">Air Count</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clip of clips; index as i">
            <td class="text-center">
              {{ i + 1 }}
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div>
                  <a
                    routerLink="clip-detail/{{ clip._id }}"
                    class="font-weight-bold text-black"
                    title="..."
                    >{{ clip.name }}</a
                  >
                </div>
              </div>
            </td>
            <td class="text-center">
              {{ clip.category.name }}
            </td>
            <td class="text-center">
              {{ clip.game.title }}
            </td>
            <td class="text-center">
              {{ clip.game.series.name }}
            </td>
            <td class="text-center">
              {{ clip.lastUpdated | date: "dd-MM-yyyy" }}
            </td>
            <td class="text-center">
              {{ clip.author }}
            </td>
            <td class="text-center">
              {{ clip.airCount }}
            </td>
            <td class="text-center">
              <div
                class="custom-checkbox custom-control mb-3 custom-control-inline"
                style="margin-left:22px;margin-top: 10px;"
              >
                <input
                  class="custom-control-input"
                  [id]="clip._id"
                  type="checkbox"
                  [(ngModel)]="clip.isSelected"
                /><label
                  class="custom-control-label"
                  [for]="clip._id"
                ></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="divider"></div>
    <div class="divider"></div>
  </div>
</div>
