<csc-page-title
  titleHeading="Source Detail"
  titleDescription=""
  newItemUrl=""
></csc-page-title>

<div class="card card-box">
  <div class="card-body p-4">
    <div
      class="d-flex flex-column flex-lg-row align-items-center justify-content-between"
    >
      <div class="text-center text-lg-left mb-3 mb-lg-0">
        <h1 class="display-4 font-weight-bold">
          {{ source.name }}
        </h1>
      </div>
      <div class="text-center text-lg-left">
        <button class="btn btn-primary text-center" (click)="onSourceEdit()">
          Edit
        </button>
      </div>
    </div>
    <div class="divider my-3"></div>
    <div class="d-flex flex-column flex-lg-row justify-content-between mb-5">
      <div class="row detail-row">
        <div class="col-md-6">
          <p>
            <span class="d-block pb-1">
              <b>
                Game Title:
              </b>
              {{ source.game.title }}
            </span>
            <span class="d-block pb-1">
              <b>
                Duration:
              </b>
              {{ source.duration }} mins
            </span>
            <span class="d-block pb-1">
              <b>
                Resolution:
              </b>
              {{ source.resolution }}
            </span>
            <span class="d-block pb-1">
              <b>
                Format:
              </b>
              {{ source.format }}
            </span>
            <span class="d-block pb-1">
              <b>
                Recording Platform:
              </b>
              {{ source.recordingPlatform.longName }}
            </span>
            <span class="d-block pb-1">
              <b>
                Video Bitrate:
              </b>
              {{ source.videoBitrate }} Mbps
            </span>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <span class="d-block pb-1">
              <b>
                Audio Bitrate:
              </b>
              {{ source.audioBitrate }} kbit/s
            </span>
            <span class="d-block pb-1">
              <b>
                Filepath:
              </b>
              {{ source.filePath }}
            </span>
            <span class="d-block pb-1">
              <b>
                Author:
              </b>
              {{ source.author }}
            </span>
            <span class="d-block pb-1">
              <b>
                Date Created:
              </b>
              {{ source.createdDate | date: "dd/MM/yyyy" }}
            </span>
            <span class="d-block pb-1">
              <b>
                Last Updated:
              </b>
              {{ source.lastUpdated | date: "dd/MM/yyyy" }}
            </span>
            <span class="d-block pb-1">
              <b>
                Air Count:
              </b>
              {{ source.airCount }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
