<csc-page-title
  titleHeading="Clips"
  titleDescription=""
  newItemUrl="/clips/add-clip"
></csc-page-title>
<div class="card card-box mb-5">
  <div class="card-header pr-2">
    <div class="card-header--title">
      <small>Clips</small>
    </div>
    <div class="card-header--actions">
      <div class="search-wrapper search-wrapper--grow">
        <span class="icon-wrapper text-black">
          <fa-icon [icon]="['fas', 'search']" class="font-size-lg"></fa-icon>
        </span>
        <input
          class="form-control rounded-pill"
          placeholder="Search terms..."
          type="search"
          [(ngModel)]="keyword"
          (keyup.enter)="onSearch()"
        />
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover text-nowrap table-striped mb-0">
        <thead class="thead-light">
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Order</th>
            <th class="text-center">Category</th>
            <th class="text-center">Game Title</th>
            <th class="text-center">Series</th>
            <th class="text-center">Duration</th>
            <th class="text-center">Last Updated</th>
            <th class="text-center">Author</th>
            <th class="text-center">Air Count</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clip of clips;index as i">
            <td>
              <div class="d-flex align-items-center">
                <div>
                  <a
                    routerLink="clip-detail/{{clip._id}}"
                    class="font-weight-bold text-black"
                    title="..."
                    >{{ clip.name }}</a
                  >
                </div>
              </div>
            </td>
            <td class="text-center">
              {{ clip.order }}
            </td>
            <td class="text-center">
              {{ clip.category.name }}
            </td>
            <td class="text-center">
              {{ clip.source.game.title }}
            </td>
            <td class="text-center">
              {{ clip.source.game.series.name }}
            </td>
            <td class="text-center">
              {{ clip.duration * 1000 * 60 | date:'HH:mm:ss':'UTC' }}
            </td>
            <td class="text-center">
              {{ clip.lastUpdated | date: "dd/MM/yyyy" }}
            </td>
            <td class="text-center">
              {{ clip.author }}
            </td>
            <td class="text-center">
              {{ clip.airCount }}
            </td>
            <td class="text-center">
              <div
                class="btn-group btn-group-sm"
                dropdown
                placement="bottom right"
                container="body"
              >
                <button
                  class="btn btn-sm px-2 py-0 dropdown-toggle no-caret btn-primary"
                  dropdownToggle
                  type="button"
                >
                  <fa-icon
                    [icon]="['fas', 'ellipsis-h']"
                    class="font-size-lg"
                  ></fa-icon>
                </button>
                <div
                  *dropdownMenu
                  class="dropdown-menu dropdown-menu-xl p-0 dropdown-menu-right"
                >
                  <ul class="nav nav-primary nav-pills flex-column pt-2 pb-3">
                    <li class="nav-item px-3">
                      <a routerLink="clip-detail/{{clip._id}}" class="nav-link active">
                        <span>View details</span>
                      </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="nav-item px-3">
                      <a routerLink="edit-clip/{{clip._id}}" class="nav-link active">
                        <span>Edit details</span>
                      </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="nav-item">
                      <a (click)="onDelete(clip._id)" class="nav-link text-danger mx-3">
                        <div class="nav-link-icon">
                          <fa-icon [icon]="['fas', 'times']"></fa-icon>
                        </div>
                        <span>Delete</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="p-3 d-flex justify-content-center">
      <pagination
        [rotate]="true"
        [totalItems]="count"
        [itemsPerPage]="20"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
        class="pagination-icons pagination-primary"
      ></pagination>
    </div>
  </div>
</div>
