<div class="modal-content" style="width: 600px;">
  <div class="modal-header">
    <h6 class="modal-title">Add Platform</h6>
    <button aria-label="Close" class="close" type="button" (click)="onClose()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="platformForm">
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="longName"
          >Name</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            id="long-name"
            name="long-name"
            type="text"
            formControlName="longName"
            [ngClass]="{
              'is-invalid':
                getControl('longName').touched && getControl('longName').errors,
              'is-valid':
                getControl('longName').touched && !getControl('longName').errors
            }"
          />
          <div class="invalid-feedback" *ngIf="getControl('longName').errors">
            <div *ngIf="getControl('longName').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="shortName"
          >Short Name</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            id="short-name"
            name="short-name"
            type="text"
            formControlName="shortName"
            [ngClass]="{
              'is-invalid':
                getControl('shortName').touched &&
                getControl('shortName').errors,
              'is-valid':
                getControl('shortName').touched &&
                !getControl('shortName').errors
            }"
          />
          <div class="invalid-feedback" *ngIf="getControl('shortName').errors">
            <div *ngIf="getControl('shortName').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="generation"
          >Generation</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            id="generation"
            name="generation"
            type="number"
            formControlName="generation"
            [ngClass]="{
              'is-invalid':
                getControl('generation').touched &&
                getControl('generation').errors,
              'is-valid':
                getControl('generation').touched &&
                !getControl('generation').errors
            }"
          />
          <div class="invalid-feedback" *ngIf="getControl('generation').errors">
            <div *ngIf="getControl('generation').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label
          class="col-sm-2 col-form-label font-weight-bold"
          for="manufacturer"
          >Manufacturer</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            id="manufacturer"
            name="manufacturer"
            type="text"
            formControlName="manufacturer"
            [ngClass]="{
              'is-invalid':
                getControl('manufacturer').touched &&
                getControl('manufacturer').errors,
              'is-valid':
                getControl('manufacturer').touched &&
                !getControl('manufacturer').errors
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="getControl('manufacturer').errors"
          >
            <div *ngIf="getControl('manufacturer').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label
          class="col-sm-2 col-form-label font-weight-bold"
          for="platformReleaseDate"
          >Released Date</label
        >
        <div class="col-sm-10">
          <input
            id="platformReleaseDate"
            type="text"
            class="form-control"
            bsDatepicker
            formControlName="platformReleaseDate"
            [bsConfig]="bsConfig"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-link btn-link-dark"
      type="button"
      (click)="onClose()"
    >
      Close</button
    ><button
      class="btn btn-primary ml-auto"
      type="button"
      (click)="onSubmit()"
      [disabled]="platformForm.invalid"
    >
      Save
    </button>
  </div>
</div>
