<div
  [class]="'app-wrapper ' + globals.contentBackground"
  [ngClass]="{
    'app-sidebar-mobile-open': globals.toggleSidebarMobile,
    'app-sidebar-fixed': globals.sidebarFixed,
    'app-header-fixed': globals.headerFixed
  }"
>
  <csc-side-bar></csc-side-bar>
  <div class="app-main">
    <csc-header></csc-header>
    <div class="app-content">
      <div class="app-content--inner">
        <div class="app-content--inner__wrapper">
          <router-outlet></router-outlet>
          <ng-progress></ng-progress>
        </div>
      </div>
    </div>
  </div>
</div>
