<csc-page-title
  titleHeading="Game Detail"
  titleDescription=""
  newItemUrl=""
></csc-page-title>

<div class="card card-box">
  <div class="card-body p-4">
    <div
      class="d-flex flex-column flex-lg-row align-items-center justify-content-between"
    >
      <div class="text-center text-lg-left mb-3 mb-lg-0">
        <h1 class="display-4 font-weight-bold">
          {{ game.title }}
        </h1>
      </div>
      <div class="text-center text-lg-left">
        <button class="btn btn-primary text-center" (click) = "onGameEdit()">
          Edit
        </button>
      </div>
    </div>
    <div class="divider my-3"></div>
    <div class="d-flex flex-column flex-lg-row justify-content-between mb-5">
      <div class="row detail-row">
        <div class="col-md-6">
          <p>
            <span class="d-block pb-1">
              <b>
                Title:
              </b>
              {{ game.title }}
            </span>
            <span class="d-block pb-1">
              <b>
                Parent Game Title:
              </b>
              {{ game.parentGame }}
            </span>
            <span class="d-block pb-1">
              <b>
                Sort Title:
              </b>
              {{ game.sortTitle || "" }}
            </span>
            <span class="d-block pb-1">
              <b>
                Series:
              </b>
              {{ game.series.name }}
            </span>
          </p>
          <p class="mb-1 font-weight-bold">Publishers:</p>
          <ul>
            <li *ngFor="let publisher of game.publishers">
              {{ publisher.name }}
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>
            <span class="d-block pb-1">
              <b>
                Franchise:
              </b>
              {{ game.franchise.name }}
            </span>
            <span class="d-block pb-1">
              <b>
                Platform:
              </b>
              {{ game.platform.longName }}
            </span>
            <span class="d-block pb-1">
              <b>
                Region:
              </b>
              {{ game.region.name }}
            </span>
            <span class="d-block pb-1">
              <b>
                Release Date:
              </b>
              {{ game.releaseDate | date: "dd/MM/yyyy" }}
            </span>
          </p>
          <p class="mb-1 font-weight-bold">Developers:</p>
          <ul>
            <li *ngFor="let developer of game.developers">
              {{ developer.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
