<div class="app-sidebar--header">
    <div class="nav-logo">
        <a routerLink="/dashboard-default" title="CSC Dashboard">
            <i>
                <img alt="CSC Dashboard" src="assets/images/angular.svg">
            </i>
            <span>CSC</span>
        </a>
    </div>
    <button (click)="toggleSidebarMobileOpen()" [ngClass]="{'is-active' : globals.toggleSidebarMobile}" class="navbar-toggler hamburger hamburger--elastic toggle-mobile-sidebar-btn" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
    </button>
</div>
