<csc-page-title
  titleHeading="Home"
  titleDescription=""
  newItemUrl=""
></csc-page-title>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card bg-night-sky border-0 mb-5 p-4 bg-white">
      <div class="d-flex flex-wrap">
        <div class="w-50 p-2">
          <button
            class="btn card card-box text-left d-flex justify-content-center px-4 py-3 w-100"
            type="button"
            (click)="onDatabaseClick()"
          >
            <div>
              <div class="font-weight-bold font-size-lg text-black">
                Manage Database
              </div>
            </div>
          </button>
        </div>
        <div class="w-50 p-2">
          <button
            class="btn card card-box text-left d-flex justify-content-center px-4 py-3 w-100"
            type="button"
            (click)="onProduceShowClick()"
          >
            <div>
              <div class="font-weight-bold font-size-lg text-black">
                Produce Show
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
