<csc-page-title
  titleHeading="Add New Game"
  titleDescription=""
  newItemUrl=""
></csc-page-title>

<div class="card card-box mb-5">
  <div class="card-header">
    <div class="card-header--title font-size-md font-weight-bold py-2"></div>
  </div>
  <div class="card-body">
    <form [formGroup]="addGameForm">
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="title"
          >Title</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            id="master-game-title"
            name="master-game-title"
            type="text"
            formControlName="title"
            [ngClass]="{
              'is-invalid':
                getControl('title').touched && getControl('title').errors,
              'is-valid':
                getControl('title').touched && !getControl('title').errors
            }"
          />
          <div class="invalid-feedback" *ngIf="getControl('title').errors">
            <div *ngIf="getControl('title').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label
          class="col-sm-2 col-form-label font-weight-bold"
          for="gameParentTitle"
          >Parent Game Title</label
        >
        <div class="col-sm-10">
          <ng-select
            [items]="games"
            [addTag]="true"
            [multiple]="false"
            [hideSelected]="true"
            formControlName="parentGame"
          >
          </ng-select>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="sortTitle"
          >Sort Title</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            id="sort-title"
            name="sort-title"
            type="text"
            formControlName="sortTitle"
          />
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="series"
          >Series</label
        >
        <div class="col-sm-10 input-group">
          <ng-select
            class="select-box"
            [items]="series"
            bindLabel="name"
            bindValue="_id"
            [addTag]="true"
            [multiple]="false"
            [hideSelected]="true"
            formControlName="series"
            (change)="onSeriesChange($event)"
          >
          </ng-select>
          <div class="input-group-append">
            <button
              class="btn btn-transition-none shadow-none btn-outline-primary add-util-btn"
              type="button"
              (click)="onAddSeries()"
            >
              Add
            </button>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="franchise"
          >Franchise</label
        >
        <div class="col-sm-10 input-group">
          <ng-select
            class="select-box"
            [items]="franchises"
            bindLabel="name"
            bindValue="_id"
            [addTag]="true"
            [multiple]="false"
            [hideSelected]="true"
            formControlName="franchise"
            (change)="onFranchiseChange($event)"
          >
          </ng-select>
          <div class="input-group-append">
            <button
              class="btn btn-transition-none shadow-none btn-outline-primary add-util-btn"
              type="button"
              (click)="onAddFranchise()"
            >
              Add
            </button>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="platform"
          >Platform</label
        >
        <div class="col-sm-10 input-group">
          <ng-select
            class="select-box"
            [items]="platforms"
            bindLabel="longName"
            bindValue="_id"
            [addTag]="true"
            [multiple]="false"
            [hideSelected]="true"
            formControlName="platform"
            [ngClass]="{
              'is-invalid':
                getControl('platform').touched && getControl('platform').errors,
              'is-valid':
                getControl('platform').touched && !getControl('platform').errors
            }"
          >
          </ng-select>
          <div class="input-group-append">
            <button
              class="btn btn-transition-none shadow-none btn-outline-primary add-util-btn"
              type="button"
              (click)="onAddPlatform()"
            >
              Add
            </button>
          </div>
          <div class="invalid-feedback" *ngIf="getControl('platform').errors">
            <div *ngIf="getControl('platform').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>

      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="region"
          >Region</label
        >
        <div class="col-sm-10 input-group">
          <ng-select
            class="select-box"
            [items]="regions"
            bindLabel="name"
            bindValue="_id"
            [addTag]="true"
            [multiple]="false"
            [hideSelected]="true"
            formControlName="region"
            (change)="onRegionChange($event)"
          >
          </ng-select>
          <div class="input-group-append">
            <button
              class="btn btn-transition-none shadow-none btn-outline-primary add-util-btn"
              type="button"
              (click)="onAddRegion()"
            >
              Add
            </button>
          </div>
          <div class="invalid-feedback" *ngIf="getControl('region').errors">
            <div *ngIf="getControl('region').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label
          class="col-sm-2 col-form-label font-weight-bold"
          for="variantGameTitle"
          >Released Date</label
        >
        <div class="col-sm-10">
          <csc-date-picker formControlName="releaseDate" [isYear]="true"></csc-date-picker>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="age-rating"
          >Age Rating</label
        >
        <div class="col-sm-10">
          <select
            class="form-control"
            id="age-rating"
            name="age-rating"
            formControlName="rating"
          >
            <option value="">Select Any</option>
            <option *ngFor="let rating of ratings" [value]="rating._id">
              {{ rating.longName }}
            </option>
          </select>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="developers"
          >Developers</label
        >
        <div class="col-sm-10 input-group">
          <ng-select
            class="select-box"
            [items]="developers"
            bindLabel="name"
            bindValue="_id"
            [addTag]="true"
            [multiple]="true"
            [hideSelected]="true"
            formControlName="developers"
            (add)="onDeveloperChange($event)"
          >
          </ng-select>
          <div class="input-group-append">
            <button
              class="btn btn-transition-none shadow-none btn-outline-primary add-util-btn"
              type="button"
              (click)="onAddDeveloper()"
            >
              Add
            </button>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="publishers"
          >Publishers</label
        >
        <div class="col-sm-10 input-group">
          <ng-select
            class="select-box"
            [items]="publishers"
            bindLabel="name"
            bindValue="_id"
            [addTag]="true"
            [multiple]="true"
            [hideSelected]="true"
            formControlName="publishers"
            (add)="onPublisherChange($event)"
          >
          </ng-select>
          <div class="input-group-append">
            <button
              class="btn btn-transition-none shadow-none btn-outline-primary add-util-btn"
              type="button"
              (click)="onAddPublisher()"
            >
              Add
            </button>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="tags"
          >Tags</label
        >
        <div class="col-sm-10">
          <ng-select
            [addTag]="true"
            [multiple]="true"
            [hideSelected]="true"
            formControlName="tags"
            [ngClass]="{
              'is-invalid':
                getControl('tags').touched && getControl('tags').errors,
              'is-valid':
                getControl('tags').touched && !getControl('tags').errors
            }"
          >
          </ng-select>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-4">
        <!-- <button
          class="btn btn-primary text-center"
          (click)="onSubmit()"
          [disabled]="addGameForm.invalid"
        >
          Submit
        </button> -->
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4 add-source-btn">
        <button
          class="btn btn-primary text-center"
          (click)="onAddSource()"
          [disabled]="addGameForm.invalid"
        >
          Add Source
        </button>
      </div>
    </div>
  </div>
</div>
