.publisher-scrollbar-section {
  margin-left: -35px;
}
.publisher-scrollbar {
  max-height: 75px;
}
.publisher-selection-list {
  list-style: none;
  margin-top: 10px;
}

.add-source-btn  {
  text-align: right;
}

.select-box{
  width: 86%;
  margin-right: 16px;
}

.add-util-btn{
  height: 34px;
}