<csc-page-title
  titleHeading="Add New Source"
  titleDescription=""
  newItemUrl=""
></csc-page-title>

<div class="card card-box mb-5">
  <div class="card-header">
    <div class="card-header--title font-size-md font-weight-bold py-2"></div>
  </div>
  <div class="card-body">
    <form [formGroup]="sourceForm">
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="gameTitle"
          >Game Title</label
        >
        <div class="col-sm-10">
          <ng-select
            [items]="games"
            bindLabel="title"
            bindValue="_id"
            [addTag]="false"
            [multiple]="false"
            [hideSelected]="true"
            formControlName="gameTitle"
            [ngClass]="{
              'is-invalid':
                getControl('gameTitle').touched &&
                getControl('gameTitle').errors,
              'is-valid':
                getControl('gameTitle').touched &&
                !getControl('gameTitle').errors
            }"
          >
          </ng-select>
          <div class="invalid-feedback" *ngIf="getControl('gameTitle').errors">
            <div *ngIf="getControl('gameTitle').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="name"
          >Name</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            id="source-name"
            name="source-name"
            type="text"
            formControlName="name"
            [ngClass]="{
              'is-invalid':
                getControl('name').touched && getControl('name').errors,
              'is-valid':
                getControl('name').touched && !getControl('name').errors
            }"
          />
          <div class="invalid-feedback" *ngIf="getControl('name').errors">
            <div *ngIf="getControl('name').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="order"
          >Order</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            id="source-order"
            name="source-order"
            type="number"
            formControlName="order"
          />
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="duration"
          >Duration</label
        >
        <div class="col-sm-10">
          <div class="input-group">
            <input
              class="form-control"
              id="duration"
              name="duration"
              formControlName="duration"
              [ngClass]="{
                'is-invalid':
                  getControl('duration').touched &&
                  getControl('duration').errors,
                'is-valid':
                  getControl('duration').touched &&
                  !getControl('duration').errors
              }"
            />
            <div class="input-group-append">
              <span class="input-group-text">min</span>
            </div>
            <div class="invalid-feedback" *ngIf="getControl('duration').errors">
              <div *ngIf="getControl('duration').errors.required">
                Required!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="resolution"
          >Resolution</label
        >
        <div class="col-sm-10">
          <ng-select
            [items]="resolutions"
            [addTag]="true"
            [multiple]="false"
            [hideSelected]="true"
            formControlName="resolution"
            [ngClass]="{
              'is-invalid':
                getControl('resolution').touched &&
                getControl('resolution').errors,
              'is-valid':
                getControl('resolution').touched &&
                !getControl('resolution').errors
            }"
          >
          </ng-select>
          <div class="invalid-feedback" *ngIf="getControl('resolution').errors">
            <div *ngIf="getControl('resolution').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="format"
          >Format</label
        >
        <div class="col-sm-10">
          <ng-select
            [items]="formats"
            [addTag]="true"
            [multiple]="false"
            [hideSelected]="true"
            formControlName="format"
            [ngClass]="{
              'is-invalid':
                getControl('format').touched && getControl('format').errors,
              'is-valid':
                getControl('format').touched && !getControl('format').errors
            }"
          >
          </ng-select>
          <div class="invalid-feedback" *ngIf="getControl('format').errors">
            <div *ngIf="getControl('format').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label
          class="col-sm-2 col-form-label font-weight-bold"
          for="recordingPlatform"
          >Recording Platform</label
        >
        <div class="col-sm-10">
          <ng-select
            [items]="platforms"
            bindLabel="longName"
            bindValue="_id"
            [addTag]="false"
            [multiple]="false"
            [hideSelected]="true"
            formControlName="recordingPlatform"
            [ngClass]="{
              'is-invalid':
                getControl('recordingPlatform').touched &&
                getControl('recordingPlatform').errors,
              'is-valid':
                getControl('recordingPlatform').touched &&
                !getControl('recordingPlatform').errors
            }"
          >
          </ng-select>
          <div
            class="invalid-feedback"
            *ngIf="getControl('recordingPlatform').errors"
          >
            <div *ngIf="getControl('recordingPlatform').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label
          class="col-sm-2 col-form-label font-weight-bold"
          for="videoBitrate"
          >Video Bitrate</label
        >
        <div class="col-sm-10">
          <div class="input-group">
            <input
              class="form-control"
              id="videoBitrate"
              name="videoBitrate"
              type="number"
              formControlName="videoBitrate"
            />
            <div class="input-group-append">
              <span class="input-group-text">Mbps</span>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label
          class="col-sm-2 col-form-label font-weight-bold"
          for="audioBitrate"
          >Audio Bitrate</label
        >
        <div class="col-sm-10">
          <div class="input-group">
            <input
              class="form-control"
              id="audioBitrate"
              name="audioBitrate"
              type="number"
              formControlName="audioBitrate"
            />
            <div class="input-group-append">
              <span class="input-group-text">kbit/s</span>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="filePath"
          >File Path</label
        >
        <div class="col-sm-10">
          <input
            class="form-control-file"
            id="filePath"
            name="filePath"
            type="file"
            formControlName="filePath"
            (change)="readVideoUrl($event)"
            [ngClass]="{
              'is-invalid':
                getControl('filePath').touched && getControl('filePath').errors,
              'is-valid':
                getControl('filePath').touched && !getControl('filePath').errors
            }"
          />
          <video #video style="display: none;" *ngIf="videoUrl" width="320" height="240" controls [attr.src]="videoUrl" (loadedmetadata)="getDuration($event)">
          </video>
          <div class="invalid-feedback" *ngIf="getControl('filePath').errors">
            <div *ngIf="getControl('filePath').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="author"
          >Author</label
        >
        <div class="col-sm-10">
          <ng-select
            [items] = "authors"
            [addTag]="true"
            [multiple]="false"
            [hideSelected]="true"
            formControlName="author"
            [ngClass]="{
              'is-invalid':
                getControl('author').touched && getControl('author').errors,
              'is-valid':
                getControl('author').touched && !getControl('author').errors
            }"
          >
          </ng-select>
          <div class="invalid-feedback" *ngIf="getControl('author').errors">
            <div *ngIf="getControl('author').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-4">
        <!-- <button
          class="btn btn-primary text-center"
          (click)="onSubmit()"
          [disabled]="sourceForm.invalid"
        >
          Submit
        </button> -->
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4 add-clip-btn">
        <button
          class="btn btn-primary text-center"
          (click)="onAddClip()"
          [disabled]="sourceForm.invalid"
        >
          Add Clips
        </button>
      </div>
    </div>
  </div>
</div>
