<div [class]="'app-sidebar app-sidebar--' + globals.sidebarBackgroundStyle + ' ' + globals.sidebarBackground"
>
  <csc-sidebar-header></csc-sidebar-header>
    <div class="app-sidebar--content">
      <csc-sidebar-menu></csc-sidebar-menu>
    </div>
</div>
<div class="app-sidebar-overlay" (click)="toggleSidebarMobileOpen()" [ngClass]="{'is-active' : globals.toggleSidebarMobile}"></div>
