<csc-page-title
  titleHeading="Clip Detail"
  titleDescription=""
  newItemUrl=""
></csc-page-title>

<div class="card card-box">
  <div class="card-body p-4">
    <div
      class="d-flex flex-column flex-lg-row align-items-center justify-content-between"
    >
      <div class="text-center text-lg-left mb-3 mb-lg-0">
        <h1 class="display-4 font-weight-bold">
          {{ clip.name }}
        </h1>
      </div>
      <div class="text-center text-lg-left">
        <button class="btn btn-primary text-center" (click)="onClipEdit()">
          Edit
        </button>
      </div>
    </div>
    <div class="divider my-3"></div>
    <div class="d-flex flex-column flex-lg-row justify-content-between mb-5">
      <div class="row detail-row">
        <div class="col-md-6">
          <p>
            <span class="d-block pb-1">
              <b>
                Description:
              </b>
              {{ clip.description }}
            </span>
            <span class="d-block pb-1">
              <b>
                Source Title:
              </b>
              {{ clip.source.name }}
            </span>
            <span class="d-block pb-1">
              <b>
                Game Title:
              </b>
              {{ clip.source.game.title }}
            </span>
            <span class="d-block pb-1">
              <b>
                Duration:
              </b>
              {{ clip.duration }} mins
            </span>
            <span class="d-block pb-1">
              <b>
                Resolution:
              </b>
              {{ clip.resolution }}
            </span>
            <span class="d-block pb-1">
              <b>
                Format:
              </b>
              {{ clip.format }}
            </span>
            <span class="d-block pb-1">
              <b>
                Video Bitrate:
              </b>
              {{ clip.videoBitrate }} Mbps
            </span>
            <span class="d-block pb-1">
              <b>
                Category:
              </b>
              {{ clip.category.name }}
            </span>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <span class="d-block pb-1">
              <b>
                Audio Bitrate:
              </b>
              {{ clip.audioBitrate }} kbit/s
            </span>
            <span class="d-block pb-1">
              <b>
                Filepath:
              </b>
              {{ clip.filePath }}
            </span>
            <span class="d-block pb-1">
              <b>
                Author:
              </b>
              {{ clip.author }}
            </span>
            <span class="d-block pb-1">
              <b>
                Last Updated:
              </b>
              {{ clip.lastUpdated | date: "dd/MM/yyyy" }}
            </span>
            <span class="d-block pb-1">
              <b>
                Air Count:
              </b>
              {{ clip.airCount }}
            </span>
            <span class="d-block pb-1">
              <b>
                Tags:
              </b>
              {{ clip.tags }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
