<div class="app-page-title">
  <div>
    <div class="app-page-title--first">
      <div class="app-page-title--heading">
        <h1>{{ titleHeading }}</h1>
        <div class="app-page-title--description">
          {{ titleDescription }}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <!-- <button class="btn btn-sm btn-primary mx-3" type="button">
            <span class="btn-wrapper--label">View details</span>
        </button> -->
    <button
      *ngIf="newItemUrl"
      class="btn btn-sm btn-success"
      tooltip="Add new entry"
      type="button"
      [routerLink]="newItemUrl"
    >
      <span class="btn-wrapper--icon">
        <fa-icon
          [icon]="['fas', 'plus']"
          class="opacity-8 font-size-xs"
        ></fa-icon>
      </span>
    </button>
  </div>
</div>
