<div class="modal-content">
  <div class="modal-header">
    <h6 class="modal-title">Add Region</h6>
    <button aria-label="Close" class="close" type="button" (click)="onClose()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="regionForm">
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label font-weight-bold" for="name"
          >Name</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            id="name"
            name="name"
            type="text"
            formControlName="name"
            [ngClass]="{
              'is-invalid':
                getControl('name').touched && getControl('name').errors,
              'is-valid':
                getControl('name').touched && !getControl('name').errors
            }"
          />
          <div class="invalid-feedback" *ngIf="getControl('name').errors">
            <div *ngIf="getControl('name').errors.required">
              Required!
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-link btn-link-dark"
      type="button"
      (click)="onClose()"
    >
      Close</button
    ><button
      class="btn btn-primary ml-auto"
      type="button"
      (click)="onSubmit()"
      [disabled]="regionForm.invalid"
    >
      Save
    </button>
  </div>
</div>
